<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    {% block javascript %}{% endblock %}
</head>

<body>

    {% block header %}
    <header>
        <div class="logo">
            <a href="/">
                <img class="img_logo" src="../static/img/logo.png" alt="logo" width="200px">
            </a>
        </div>
    </header>
    {% endblock %}
    {% block nav %}
    <div class="nav">
        <div class="topnav">
            <a href="/daily_camera_report">Ежедневный отчет камер</a>
            <a href="/now_camera_report">Текущее состояние камер</a>
            <a href="/production_plan">План производства</a>
        </div>
    </div>
    {% endblock %}
    <main>

        {% block content %}
        <div class="content">
            <H1>Under Costruction</H1>
        </div>
        {% endblock %}

    </main>

    <footer>
        <div class="logo_foot">
            <a href="/"><img class="img_logo" src="../static/img/logo2.png" alt="logo" width="50px"></a>
            <p>Silgan Metal Packaging 2021</p>
        </div>
    </footer>

</body>


</html>