<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>make statistic easier</title>
</head>

<body>

    <div class="header">
        <a href="/">Домой</a> <br>
        <a href="/daily_camera_report">Ежедневный отчет камер</a> <br>
        <a href="/now_camera_report">Текущее состояние камер</a> <br>
    </div>

    <div class="content">
        {% block content %}<H1>Under Costruction</H1>{% endblock %}
    </div>

    <!--
    <div class="footer">
        <p>2021</p>
    </div>
-->
</body>


</html>