{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Statistics{% endblock %}</title>
</head>

<body>

    <main>
        {% block content %}


        <div class="infoboard_container">

            <!--  цикл просмотра всех линий для заполнения табло -->
            {% for line in LINES %}
            <div class="infoboard_block">

                <!--  Линия  -->
                <div class="infoboard_block_header">
                    <p>{{line}}</p>
                </div>

                <!--  статус линии  -->
                <div class="infoboard_block_header">
                    <p>{{lines_dict[line]['status']}}</p>
                </div>

                <!--  Кастомизация полей  -->
                {% if lines_dict[line]['status'] != 'STOP' %}

                <!--  оператор  -->
                <div class="infoboard_block_header">
                    <p>{{lines_dict[line]['operator']}}</p>
                </div>

                <div class="infoboard_block_header">
                    <p>11512</p>
                </div>

                <!--  вход-выход  -->
                <div class="infoboard_block_pair">
                    <div class="infoboard_block_small">
                        <p>INPUT:</p>
                        <p>{{lines_dict[line]['input']}}</p>
                    </div>
                    <div class="ln"></div>
                    <div class="infoboard_block_small">
                        <p>OUTPUT:</p>
                        <p>{{lines_dict[line]['output']}}</p>
                    </div>
                </div>

                <!--  Кастомизация камер. Может быть одна камера или две  -->
                {% if lines_dict[line]['camera']|length == 2 %}

                <div class="infoboard_block_pair">
                    <div class="infoboard_block_small">
                        <p>A:</p>
                        <p>{{lines_dict[line]['camera'][0]}}</p>
                    </div>
                    <div class="ln"></div>
                    <div class="infoboard_block_small">
                        <p>B:</p>
                        <p>{{lines_dict[line]['camera'][1]}}</p>
                    </div>
                </div>

                {% elif lines_dict[line]['camera']|count == 1 %}
                <div class="infoboard_block_header">
                    <p>{{lines_dict[line]['camera'][0]}}</p>
                </div>

                {% endif %}
                <div class="infoboard_block_content">

                </div>
                <div class="infoboard_block_footer">

                </div>

                {% else %}


                {% endif %}
            </div>
            {% endfor %}
        </div>



        {% endblock %}
    </main>

</body>

</html>