{% extends 'base.html' %}
<!DOCTYPE html>

<head>
    <title>{% block title %}Statistics{% endblock %}</title>
    {% block javascript %}
    {{ super() }}
    <script src="../static/js/responsive_plot.js"></script>
    {% endblock %}
</head>

<body>

    <main>
        {% block content %}

        {% set color_text = '#70777d' %}
        {% set color_warn = '#c05e5e' %}
        <!--<meta http-equiv="refresh" content="60">-->

        <div class="infoboard_container">

            <!--  цикл просмотра всех линий для заполнения табло -->
            {% for line in LINES %}

            <div class="infoboard_block {{ status_color }}" name="" id="{{ line }}_container">

                <!--  Линия  -->
                <div class="infoboard_block_section line">
                    <p>{{ line }}</p>
                </div>

                <!--  Кастомизация камер  -->
                {% if 'camera' in lines_dict[line] and lines_dict[line]['camera'] != {} %}

                {% set camera_defrate = lines_dict[line]['camera']['defrate'] %}
                {% set camera_last_meas = lines_dict[line]['camera']['last_meas'] %}

                <div class="infoboard_block_pair last_block" id="camera_{{ line }}">

                    {% for camera in camera_defrate %}
                    <div class="infoboard_block_small">

                        {% if camera_defrate[loop.index0] > 1 %}
                        <p style="color:#c05e5e;"><b>{{ "A: {:.2f}%".format(camera_defrate[loop.index0]) }}</b></p>

                        {% else %}
                        <p><b>{{ "A: {:.2f}%".format(camera_defrate[loop.index0]) }}</b></p>

                        {% endif %}

                    </div>

                    {% endfor %}
                </div>

                {% endif %}
            </div>
            {% endfor %}

        </div>

        <p style="text-align: center; margin: 10px; font-size: 12pt;" id="updated"></p>

        <script>
            update_current_situation();
            /* обновление графиков при обновлении календаря и списка линий */

            var timeout = 1000 * 120

            setTimeout(function run() {
                update_current_situation();
                setTimeout(run, timeout);
            }, timeout);
        </script>


        <script>
            /* обновление графиков при обновлении календаря и списка линий */
            $(document).ready(function () {
                $("#submit").submit(function (event) {
                    update_current_situation();

                    event.preventDefault();
                });
            });
        </script>

        {% endblock %}

    </main>




</body>

</html>