{% extends "base.html" %}
<main>


    {% block content %}
    <div class="production_plan_table" style="max-width: 500px; margin: auto; margin-top: 15px;">
        <div class="production_plan_stdblock" id='main_graph'>
            <h1 style="margin-bottom: 15px;">Вход</h1>
            <table id="reg_table">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <tr>
                        {% for message in messages %}
                        <td colspan="2" style="text-align: center; padding-bottom:10px">{{ message }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endwith %}



                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <tr>
                        <td>{{ form.username.label }}</td>
                        <td>{{ form.username(size=32) }}</td>
                    </tr>
                    {% for error in form.username.errors %}
                    <tr>
                        <td colspan="2"><span style="color: red;">[{{ error }}]</span>
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>


                    <tr>
                        <td>{{ form.password.label }}</td>
                        <td>{{ form.password(size=32) }}</td>
                        {% for error in form.password.errors %}
                    <tr>
                        <td colspan="2"><span style="color: red;">[{{ error }}]</span></td>
                    </tr>
                    {% endfor %}
                    </tr>


                    <tr>
                        <td colspan="2" style="text-align: center; padding-top: 10px;">{{ form.remember_me() }} {{
                            form.remember_me.label
                            }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;padding-top: 10px;">{{ form.submit() }}</td>
                    </tr>

                </form>
            </table>

            <p style="font-size: 10pt;"><a href="{{ url_for('users.forgot_password') }}">Не помню пароль</a></p>
            <H2 style="padding: 10px;">Новый пользователь? <a href="{{ url_for('users.register') }}">Вы можете
                    зарегистрироваться!</a></h2>
        </div>
    </div>
    {% endblock %}
</main>