{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Statistics{% endblock %}</title>
    {% block javascript %}
    {{super()}}
    {% endblock %}
</head>

<body>

    <main>
        {% block content %}

        <div class="input_form" id=order_list>
            <form>
                <select id="line_combobox">
                    {% for line in lines %}
                    <option>{{line}}</option>
                    {% endfor %}
                </select>
                <select id="order_combobox">

                </select>
            </form>
        </div>



        <script>

        </script>




        {% endblock %}
    </main>




</body>

</html>