{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Production Plan{% endblock %}</title>
    {% block javascript %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/responsive_plot.js"></script>
    {% endblock %}
</head>

<body>


    <main>


        {% block content %}

        <!-- форма выбора месяца -->
        <div class="calendar" style="width: 100%; text-align: center; margin-top: 7px;">
            <form action="/production_plan" id="calendar" method="POST">
                <input type="month" name="calendar_date" id="input_calendar" min="2020-01">
                <input type="submit" value="Показать" />

            </form>
        </div>

        <div class="production_plan">
            <div class="production_plan_graphs">
                <div class="production_plan_stdblock" id='plot'>
                    <!-- встраивание и добавление адаптивности графику plotly -->
                    <script>
                        responsive_plot({{ plot | safe}}, 'plot');
                    </script>
                </div>

                <!-- контейнер для средних значений выработки -->
                <div class="production_plan_tbl" id="average_container">
                    {% for tbl in table_average %}
                    <div class="production_plan_stdblock" id="line_average_{{tbl}}">
                        <p>{{tbl}}</p>
                        {{table_average[tbl]|safe}}
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="production_plan_table">

                <!-- таблица с детализацией по дням и сменам -->
                <div class="production_plan_stdblock">
                    <p>Выработка линий по сменам</p>
                    <div id="table">{{table|safe}}</div>
                </div>
            </div>

        </div>

        <!-- вставка текущего месяца в календарь -->
        <script>
            var current_date = new Date().toISOString().slice(0, 7);
            document.getElementById("input_calendar").value = current_date;
            document.getElementById("input_calendar").max = current_date;
        </script>


        <script>
            /* При отпраке POST-запроса из календаря, получить данные с сервера и вернуть новые элементы */
            $(document).ready(function () {
                $("#calendar").submit(function (event) {
                    get_response("calendar");
                    event.preventDefault();
                });
            });
        </script>

        {% endblock %}
    </main>

</body>

</html>