{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Production Plan{% endblock %}</title>

</head>

<body>


    <main>
        {% block content %}
        <div class="production_plan">
            <div class="production_plan_graphs" id='main_graph'>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script>
                    var graph = {{ plot | safe }};
                    Plotly.plot('main_graph', graph, { width: '500px' });
                </script>
            </div>
            <div class="production_plan_table">{{table|safe}}</div>
        </div>
        {% endblock %}
    </main>




</body>

</html>