{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Production Plan{% endblock %}</title>
    {% block javascript %}
    {{ super() }}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../static/js/responsive_plot.js"></script>
    {% endblock %}
</head>

<body>


    <main>

        {% block nav %}{% endblock %}
        {% block content %}

        <meta http-equiv="refresh" content="300">

            <div class="production_plan_graphs_staff">

                <div class="production_plan_stdblock" id="main_graph">
                    <script>
                        responsive_plot({{ plot | safe}}, "main_graph", 99, 88);
                    </script>
                    
                </div>
                <div class="updated">
                    <p class="updated_p" style="font-size: 8pt;">Обновлено в {{now}}</p>
                </div>
            </div>

            {% endblock %}
    </main>




</body>

</html>