{% extends 'base.html' %}

<!DOCTYPE html>

<head>
    <title>{% block title %}Production Plan{% endblock %}</title>
    {% block javascript %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% endblock %}
</head>

<body>


    <main>
        {% block nav %}{% endblock %}
        {% block content %}
        <div class="production_plan">
            <div class="production_plan_graphs" id='main_graph'>

                <script>
                    var graph = {{ plot | safe }};
                    Plotly.plot('main_graph', graph, {});
                </script>
            </div>
            <div class="production_plan_table">{{table|safe}}</div>
        </div>

        {% endblock %}
    </main>




</body>

</html>