{% extends 'base.html' %}

{% block title %}Statistics. Report{% endblock %}

{% block javascript %}
{{super()}}
{% endblock %}

{% block content %}
<div class="input_form">
    <form action="#" id="calendar" method="POST" style="text-align: center;">
        <input type="date" name="calendar_from" id="calendar_input_from" min="2022-01-01">
        <input type="date" name="calendar_to" id="calendar_input_to" min="2022-01-01">
        <input type="button" value="Show" onclick="show_report()">
    </form>
</div>
<div class="production_plan" id="main_container" style="display:flex; margin: auto; justify-content: center;"></div>


<!-- вставка текущего месяца в календарь -->
<script>
    var today = new Date().toISOString().slice(0, 10);
    var yestarday = new Date();

    yestarday.setDate(yestarday.getDate() - 1);
    yestarday = yestarday.toISOString().slice(0, 10);

    let date_start = document.getElementById("calendar_input_from")
    let date_end = document.getElementById("calendar_input_to")

    date_start.value = yestarday;
    date_start.max = today;
    date_end.value = yestarday;
    date_end.max = today;
</script>
{% endblock %}