*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}


.logo{
    background: #003882;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.img_logo{
    padding: 7px;
    max-width: 93%;
}

footer{
    background: #70777d;
    width: 100%;
    height: auto;
    left: 0;
    bottom:0;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

footer p{
    color: #FFF;
    font-size: 8pt;
    padding-bottom: 5px;
}

.nav{
    padding-top: 5px;
    width: 100%;
    margin: auto;
    height: auto;
}

.topnav{
    text-align: center;
    width: auto;
}

.topnav a{
    color: #003882;
    margin: 0 7px 7px;
}

.topnav a:hover{
    border-bottom: 2px solid #003882;
}

.content{
    margin-top: 20px;
    text-align: center;
}


@media screen and (max-width: 768px){

    .logo{
        /* перемещение логотипа в центр */
        justify-content: center;
    }




}


@media screen and (max-width: 420px){
    .topnav{
        /* перестроение ссылок навбара в колонку */
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
    }

}