*{
    margin: 0;
    padding: 0;
}

:root {
    --silgan_blue: #003882;
    --silgan_gray: #70777d;
    --light_gray: #e6e6e6;

    --line_run: #fafff9;
    --line_stop: #fafafa;
    --line_puco:#fffff9;
    --line_error: #fff9f9;

    --line_run_hover: rgb(235, 255, 234);
    --line_puco_hover:rgb(254, 255, 234);
    --line_error_hover:rgb(255, 234, 234);
    
  }

a{
    text-decoration: none;
}

ul{
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}

table{
    border-spacing: 0;
}

.logo{
    background: var(--silgan_blue);
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.img_logo{
    padding: 7px;
    max-width: 93%;
}

.ln{
    width: 0.1px;
    background: var(--light_gray);
}
footer{
    background: var(--silgan_gray);
    width: 100%;
    height: auto;
    left: 0;
    bottom:0;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    display: none;/*flex;*/
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

footer p{
    color: #FFF;
    font-size: 8pt;
    padding-bottom: 5px;
}

.logo_background{
    background-image: url("../img/logo_background.png");
    text-align: center;
    height: 500px;
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_background h1{
    color: var(--silgan_blue);
    font-size: 48pt; 
    font-weight: bold;
}

.nav{
    padding-top: 5px;
    width: 100%;
    margin: auto;
    height: auto;
}

.topnav{
    text-align: center;
    width: auto;
}

.topnav a{
    color: var(--silgan_blue);
    margin: 0 7px 7px;
}

.topnav a:hover{
    border-bottom: 2px solid var(--silgan_blue);
}

.content{
    margin-top: 20px;
    text-align: center;
}
/*----------------------------------------------*/
.infoboard_container{
    background: #f2f2f2;
    width: 905px;
    height: 100%;
    margin: 0 auto;
    padding: 7px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(5, 175px);
    grid-gap: 7px;
    justify-content: center;
}


.infoboard_block{
    background: var(--line_puco); /* желтый */
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 4px 1px;
    max-width: 190px;
    height: 300px;
}


/* Окрашивание линий в зависмости от статуса */

.infoboard_block#RUN{
    background: var(--line_run); /* зеленый */
}

.infoboard_block#STOP{
    background: var(--line_stop); /* серый */
}

.infoboard_block#Line_not_found{
    background: var(--line_error); /* красный */
}

/* Белый цвет при наведении на разные id этого класса*/
.infoboard_block#RUN:hover{
    background: var(--line_run_hover); /* зеленый */
}

.infoboard_block#Line_not_found:hover{
    background: var(--line_error_hover); /* красный */
}
.infoboard_block#STOP:hover{
    background: #FFF; /* серый */
}

.infoboard_block:hover{
    background: var(--line_puco_hover); /* желтый */
}
/*------------------------------------------------*/

.infoboard_block_section{
    margin:0 auto;
	box-shadow: 0px 12px 7px -12px rgba(50, 50, 50, 0.2);
    height: 12%;
    padding: 7px 10px 3px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
}
.infoboard_block_section p{
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    color: var(--silgan_gray);
}

.infoboard_block_pair{
    margin:0 auto;
	box-shadow: 0px 12px 7px -12px rgba(50, 50, 50, 0.2);
    height: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    justify-content: space-around;
}
.infoboard_block_pair p{
    text-align: center;
    font-weight: 400;
    color: var(--silgan_gray);
}

.infoboard_block_small {
    width: 40%;
    font-size: 10px;
    font-weight: 200;
}


/*----------------------------------------------------*/

.production_plan{
    display:grid;
    grid-template-columns: repeat(2, minmax(350px,1fr));
    grid-gap: 7px;
    grid-template-areas: "a b b";
    padding: 10px 8px 10px 8px;

}

.production_plan_graphs_staff{
    background: var(--line_stop);
    box-shadow: rgba(0,0,0,0.2) 0 4px 5px 3px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: Start;
    justify-content: center;
    gap: 7px;
}
.production_plan_stdblock{
    background: #FFF;
    box-shadow: rgba(0,0,0,0.2) 0 4px 2px -2px;
    border-radius: 8px;
    display: block;
    text-align: -webkit-center;
    font-size: 7pt;
    padding: 10px;

}

.production_plan_stdblock p{
    font-size: 12pt;
    font-weight: 800;
    margin: 5px;
}

.production_plan_tbl{
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4,minmax(180px, 250px));
}


.production_plan_graphs{
    background: var(--line_stop);
    box-shadow: rgba(0,0,0,0.2) 0 4px 5px 3px;
    width:97%;
    padding: 10px;
    grid-area: a;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: Start;
    justify-content: left;
    gap: 7px;

}

.production_plan_table{
    background: var(--line_stop);
    box-shadow: rgba(0,0,0,0.2) 0 4px 5px 3px;
    border-radius: 5px;
    grid-area: b;
    padding: 10px;

}

.production_plan_table_av{
    font-size: 7pt;
}

.production_plan_table {

    font-size: 7pt;
}

/*-----------------------------------------------*/





#reg_table{
    font-size: 10pt;
    border-spacing: 5px;
}

#submit{
    padding:5px;
}


@media screen and (max-width: 960px){

    .logo{
        /* перемещение логотипа в центр */
        justify-content: center;
    }

    .infoboard_container{
        width: 542px;
        /*align-content: center;*/
        grid-template-columns: repeat(auto-fit, 175px);
    }

}



@media screen and (max-width: 600px){
    .topnav{
        /* перестроение ссылок навбара в колонку */
        display: flex;
        flex-wrap: wrap; 
        flex-direction: column;
    }

    .infoboard_container{
        width: 360px;
        align-content: center;
        grid-template-columns: repeat(auto-fit, 175px);
    }

}


