<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>make statistic easier</title>
</head>

<body>
    <div class="nav">lorem ipsum</div>
    <H1>hello world!</H1>

    <div class="row">
        <div class="col-md-12">
            <div id="bargraph">
                <script>
                    var graphs = {{ plot | safe}};
                    Plotly.plot('bargraph', graphs, {});
                </script>
            </div>
        </div>
    </div>

</body>
<footer>
    asdasd
</footer>

</html>